@import './preflight.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../../public/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("../../public/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
